body {
    background-color: skyblue;
    text-align: center;  
}
textarea {
    display: block;
    margin: auto auto;
}
div{
    width: 200px; 
    height:200px;
}

form {
    margin:10px;
}

form.button {
    margin:10px;
}
