<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars :)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <hr>
        <h1>Cool Cars</h1>
        <hr>
        <div class="cars">
            <img src="/images/fer.jpg" alt="ferari">
            <img src="/images/rangeroverjpg.jpg" alt="rangerover">
            <img src="/images/modren.jpeg" alt="modren">
        </div>
        <hr>
    </div>
</body>
</html>