<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {%load static%}
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>Ninja Gold</title>
</head>
<body>
    <div id="container">
        <div class="head">        
            {%load static%}
            <img src="static/app/img/gold.png" alt="">
            <h3> Your Gold:</h3>
            <p>{{ request.session.your_gold }}</p>
            <form action="/reset">
                <input type="submit" value="Reset"/>
            </form>
        </div>
        <div class="page">
            <div class="box1">
                <h4>Farm</h4>
                <p>(earns 10 to 20 gold)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="farm"  />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="box2">
                <h4>Cave</h4>
                <p>(earns 5 to 10 gold)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="cave" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="box3">
                <h4>House</h4>
                <p>(earns 2 to 5 gold)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="house" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
            <div class="box4">
                <h4>Casino</h4>
                <p>(earns -50 to 50 gold)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="location" value="casino" />
                    <input type="submit" value="Find Gold!"/>
                </form>
            </div>
        </div>
        <div class="log">
            <h7>Activities:</h7>
            <div>
                {% for i in request.session.activities %}
                    {{ i |safe }}
                {% endfor %}    
            </div> 
        </div>
    </div>
</body>
</html>