.container{
    width:300px;
    height: 200px;
    margin:auto;
    margin-top:25px;
}
.title{
    border:dotted 1px black;
    text-align: center;
    color: darkred;
}

.time{
    color: darkslategrey;
    
}